.w-fit-content {
  width: fit-content;
}

// Colors
.primary-bg {
  background-color: $primary-blue;
}
.secondary-bg {
  background-color: $black-shade;
}

// Fonts
.ff-rajdhani {
  font-family: $body-primary-font;
}
.ff-pt-serif {
  font-family: $body-secondary-font;
}
.ff-exo-2 {
  font-family: $body-tertiary-font;
}