.primary-btn {
  display: inline-block;
  color: black;
  background-color: #ddd;
  text-decoration: underline;
  padding: 0.3rem 1.5rem;
  border-radius: 1rem;
  font: {
    size: 1.5rem;
    weight: bold;
    family: $body-tertiary-font;
  }
  transition: $trans-duration;

  &:hover {
    transform: scale(1.1);
  background-color: #fff;
  }

  &.primary-btn-center {
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.main-title {
  font: {
    size: 2.5rem;
    family: $body-tertiary-font;
  }
  @media (max-width: 992px) {
    font-size: 2rem;
  }
  width: fit-content;
  margin: 0 auto;
  position: relative;

  $width: -50%;
  &::before, &::after {

    content: '';
    position: absolute;
    top: 50%;
    width: -$width;
    height: 3px;
    background-color: #fff;
  }
  &::before {
    left: calc($width - 20px);
  }
  &::after {
    right: calc($width - 20px);
  }

}