.primary-btn, .secondary-btn {
  display: inline-block;
  padding: 0.3rem 1.5rem;
  border-radius: 1rem;
  font: {
    size: 1.5rem;
    weight: bold;
    family: $body-tertiary-font;
  }

}
.primary-btn {
  color: black;
  background-color: #ddd;
  text-decoration: underline;
  transition: $trans-duration;

  &:hover {
    transform: scale(1.1);
    background-color: #fff;
  }

  &.primary-btn-center {
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.secondary-btn {
  border: 3px solid #DDD;
  background-color: transparent;
}

.main-title {
  font: {
    size: 2.5rem;
    family: $body-tertiary-font;
  }
  @media (max-width: 992px) {
    font-size: 2rem;
  }
  width: fit-content;
  margin: 0 auto;
  position: relative;
  @media (max-width: 767.98px) {
    text-align: center;
  }

  $width: -50%;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: -$width;
    height: 3px;
    background-color: #fff;
  }
  &::before {
    left: calc($width - 20px);
  }
  &::after {
    right: calc($width - 20px);
  }
}

.social-links {
  li {
    &:hover a {
      background-color: #fff;
      transform: scale(1.2);

      svg[class*="discord"] {
        color: $discord;
      }
      svg[class*="twitter"] {
        color: $twitter;
      }
      svg[class*="facebook"] {
        color: $facebook;
      }
      svg[class*="instagram"] {
        color: $instagram;
      }
      svg[class*="linked"] {
        color: $linkedin;
      }
    }
    a {
      display: block;
      padding: 10px;
      border-radius: 50%;
      transition: all 0.3s;
      background-color: rgba(255, 255, 255, 80%);

      svg {
        color: #222;
        transition: color 0.3s;
      }
    }
  }
}