// Fonts
$body-primary-font: "Rajdhani", sans-serif;
$body-secondary-font: "PT Serif", serif;
$body-tertiary-font: "Exo 2", system-ui;

// Weights
$fw-extra-light: 200;
$fw-normal: 400;
$fw-semi-bold: 600;
$fw-bold: 700;

// Main
$trans-duration: 0.3s;

// Colors
$primary-blue: hsl(219, 67, 12);
$black-shade: hsl(180, 10, 6);
$white-shade: hsl(0, 0, 90);

// Social
$youtube: #f20000;
$discord: #6c82cf;
$twitter: #28a0d5;
$facebook: #1771e6;
$linkedin: #0077b5;
$instagram: #5865f2;