*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden; // For Animations overflow

  * {
    outline: none;
  }
  body {
    // font-family: $body-primary-font;
  }
  p {
    // font-family: $body-secondary-font;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  img {
    width: 100%;
    height: 100%;
  }
  button {
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
}
